In [1]:
pip install imblearn

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: imblearn in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from imblearn) (0.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.1.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.9.3)
Requirement already satisfied: numpy>=1.17.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.22.4)
Requirement already satisfied: joblib>=1.1.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import boto3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import svm
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from imblearn.over_sampling import RandomOverSampler, SMOTE
from sklearn.multiclass import OneVsOneClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer

s3= boto3.resource('s3')
bucket_name= 'morgan-gant-data448-bucket'
bucket= s3.Bucket(bucket_name)

file_key= 'framingham.csv'

bucket_object= bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

#reading the datefile
heart = pd.read_csv(file_content_stream)
heart.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [16]:
#Defining input and target variables
x = heart[['age', 'currentSmoker', 'totChol', 'BMI', 'heartRate']]
y= heart['TenYearCHD']

#Splitting the data
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size= .2, stratify=y)

In [9]:
x_train.describe()
#Can see there are missing values

               age  currentSmoker      totChol          BMI    heartRate
count  3390.000000    3390.000000  3352.000000  3373.000000  3389.000000
mean     49.610914       0.495575   236.617840    25.806433    75.927707
std       8.610687       0.500054    44.822637     4.155796    12.143248
min      32.000000       0.000000   107.000000    15.540000    44.000000
25%      42.000000       0.000000   205.000000    23.060000    68.000000
50%      49.000000       0.000000   234.000000    25.400000    75.000000
75%      57.000000       1.000000   263.000000    27.990000    83.000000
max      70.000000       1.000000   696.000000    56.800000   143.000000

In [10]:
x_test.describe()
#Can see there are missing values

              age  currentSmoker    totChol         BMI   heartRate
count  848.000000     848.000000  836.00000  846.000000  848.000000
mean    49.481132       0.488208  237.13756   25.784362   75.683962
std      8.420592       0.500156   43.67042    3.765525   11.553546
min     33.000000       0.000000  124.00000   17.230000   46.000000
25%     42.000000       0.000000  207.75000   23.107500   68.000000
50%     49.000000       0.000000  234.00000   25.375000   75.000000
75%     56.000000       1.000000  262.00000   28.090000   82.000000
max     69.000000       1.000000  600.00000   43.300000  120.000000

In [17]:
#Defining the imputer
imputer= SimpleImputer(missing_values=np.nan, strategy= 'median')
imputer.fit(x_train)

#Imputing missing values
x_train_imp= pd.DataFrame(imputer.transform(x_train), columns= x_train.columns)
x_test_imp= pd.DataFrame(imputer.transform(x_test), columns= x_test.columns)

In [14]:
x_test_imp.describe()

              age  currentSmoker     totChol         BMI   heartRate
count  848.000000     848.000000  848.000000  848.000000  848.000000
mean    49.481132       0.488208  237.093160   25.783455   75.683962
std      8.420592       0.500156   43.361549    3.761123   11.553546
min     33.000000       0.000000  124.000000   17.230000   46.000000
25%     42.000000       0.000000  208.000000   23.122500   68.000000
50%     49.000000       0.000000  234.000000   25.380000   75.000000
75%     56.000000       1.000000  262.000000   28.090000   82.000000
max     69.000000       1.000000  600.000000   43.300000  120.000000

In [18]:
#Scaling the data
scaler= MinMaxScaler()
x_train_imp= scaler.fit_transform(x_train_imp)
x_test_imp= scaler.fit_transform(x_test_imp)

Logistic Regression

In [20]:
#Building model
lr_md= LogisticRegression().fit(x_train_imp, y_train)

#Prediction on the test
lr_pred= lr_md.predict_proba(x_test_imp)[:,1]

#Changing likelyhoods to labels
lr_label= np.where(lr_pred < .1, 0, 1)

print(classification_report(y_test, lr_label))

              precision    recall  f1-score   support

           0       0.95      0.20      0.33       719
           1       0.17      0.94      0.29       129

    accuracy                           0.31       848
   macro avg       0.56      0.57      0.31       848
weighted avg       0.83      0.31      0.33       848

Random Forest

In [22]:
#Building model
rf_md= RandomForestClassifier(n_estimators= 500, max_depth=5).fit(x_train_imp, y_train)

#Prediction on the test
rf_pred= rf_md.predict_proba(x_test_imp)[:,1]

#Changing likelyhoods to labels
rf_label= np.where(rf_pred < .1, 0, 1)

print(classification_report(y_test, rf_label))

              precision    recall  f1-score   support

           0       0.94      0.16      0.27       719
           1       0.17      0.95      0.28       129

    accuracy                           0.28       848
   macro avg       0.55      0.55      0.28       848
weighted avg       0.82      0.28      0.27       848

In [ ]:
#Based on my data split and results, I would continue with Random Forest because the recall was .95 where logistic was .94!